dnd_initative_tracker_history.log
old logs/
logs/old logs/
__pycache__/
*.pyc
.venv/
*.egg-info/
dist/
build/
logs/*.log
logs/lan_account_links.json
logs/monster_index.json
*.spec
DNDInitiativeTracker.exe
